@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --primary: 188 86% 53%;
    --primary-foreground: 0 0% 9%;
  }

  body {
    @apply bg-background text-zinc-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass {
    @apply bg-surface/80 backdrop-blur-md border border-border;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
  }
}

html {
  scroll-behavior: smooth;
}
